build --java_runtime_version=remotejdk_21
build --java_language_version=17
build --javacopt="-Xep:NullAway:ERROR"
build --javacopt="-XepOpt:NullAway:AnnotatedPackages=de.ofahrt.catfish"
build --plugin=//third_party/nullaway
coverage --instrumentation_filter=//java/... --combined_report=lcov

try-import %workspace%/.bazelrc.user
